@{ 
    Layout = "_Layout";
}
<div id="UserView" class="wrap">
    <ul>
        <li><a asp-action="ListProducts">Quản lý Sản phẩm</a></li>
        @*<li><a href="#"> Quản lý Khách hàng</a></li>*@
    </ul>  
</div>
